h1::after {
    content: "";
    display: block;
    border: 2px solid #307bbb;
    width: 60%;
    margin-left: 20%;
    margin-top: 0.1em;
}

.answer .btn-group-vertical {
	position : absolute;
	left : 0;
	right : 0;
	top : 0;
	bottom : 0;
}

.answer .btn {
	height : 25%;
	text-align: left;
	margin-top : 0 !important;
	border-radius : 0 !important;
	white-space : normal;
}

.answer .btn:disabled {
	opacity : 1;
}

.answer .btn-default:disabled {
	color : #777;
}

.answer .alert {
	margin-top : 25%;
}

.question #content {
	position : fixed;
	top : 5em;
	bottom : 8em;
	left : 2em;
	right : 2em;
	text-align : center;
}

.question #player {
	position: absolute;
	top: 50%;
	left : 50%;
	transform: translateY(-50%) translateX(-50%);
}

.credits {
	color : white;
	text-align: center;
	width : 100%;
	animation : 20s scroll linear infinite;
	position : relative;
}

.credits:hover {
	animation-play-state: paused;
}

.credits .restart {
	position : fixed;
	right : 0;
	top : 0;
	background-color : #307bbb;
	border: 3px solid #133451;
	border-radius: 1em;
	padding : 1em;
	font-size: 2em;
	margin : 1em;
	cursor : pointer;
	color : white;
}

.credits .winner h1 {
	font-size: 6em;
}

.credits .winner h1 i {
	animation: gold 4s linear infinite;
}

.credits .loser h1, .credits .attribution h1 {
	font-size: 4em;
	color : #aaaaaa;
}

.credits .attribution a {
	color : #307bbb;
	font-weight: bold;
	text-decoration: none;
}

.credits .attribution:hover ul {
	visibility: visible;
}

.credits .attribution ul {
	visibility: hidden;
	list-style: none;
}

.credits .attribution span {
	font-size: 6em;
}

.credits > div {
	height : 50vh;
}

.credits .avatar {
	font-size: 2em;
	margin : 1em;
}

.credits .summary {
	display : inline-block;
	font-size: 2em;
	padding-bottom: 1em;
	position: relative;
	top : -2em;
}

.credits .summary .correct {
	color : #008800;
	text-shadow : 1px 1px 2px #004400;
}

.credits .summary .failed {
	color : #880000;
	text-shadow : 1px 1px 2px #440000;
}

.credits h2 {
	font-size: 2em;
}

.wavesurfer {
	width : 90%;
}

.image img {
	min-width: 800px;
}

#player.youtubeaudio {
	visibility : hidden;
}

#player.list {
	color : white;
}

#player.list ol {
    text-align: left;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px black;
}

.quote {
	color : white;
}

.quote .fa-quote-left {
	float : left;
	font-size : 4em;
	position : relative;
	left : -1em;
}

.quote p {
	clear : both;
	font-size : 3em;
}

.quote .fa-quote-right {
	float : right;
	font-size : 4em;
	position : relative;
	right : -1em;
}

.question #content.pre-question iframe {
	opacity : 0;
}

.question .navbar {
	height : 5%;
	text-align : center;
	background : transparent;
	border : 0;
	background : black;
}

.question h3 {
    color: grey;
    font-size: 2em;
    font-weight: 100;
}

.question .title, .question #correct {
	font-weight: bold;
	font-size: 3em;
	color : white;
	text-shadow: 2px 2px 2px grey;
	text-align: center;
}

.question #correct {
	animation : resize-correct 0.5s linear normal;
}

.question .title {
	font-size: 6em;
	transform : scale(0.5) translateY(-50%);
}

.question .title.full {
	position : fixed;
	top : 50%;
	width : 100%;
	display : block;
	transform : scale(2) translateY(-50%);
	animation : resize-title 3s linear normal forwards;
	opacity : 1;
}

.question .index {
    position: fixed;
    top: 1em;
    left: 0.5em;
}

.lobby {
	color : white;
}

.lobby .connect, .lobby .settings {
	float : left;
	width : 30%;
	text-align: center;
}

.lobby .players {
	float : left;
	width : 40%;
	text-align: center;
}

.connect .qr img {
	border-radius: 1em 1em 0 0;
	margin-bottom : -5px;
}

.connect .code {
	width : 400px;
	text-transform: uppercase;
	background-color : #307bbb;
	display : inline-block;
	padding : 1em 0;
	margin : 0;
	border-radius : 0 0 1em 1em;
	font-weight: bold;
	font-size: 1.1em;
}

.connect ol {
	width : 400px;
	font-size: 1.5em;
}

ol {
	display: inline-block;
	counter-reset: help;
	list-style: none;
	padding-left : 1em;
}

ol li {
	text-align: left;
	height : 2em;
	margin-bottom : 0.5em;
}

ol li:before {
	position : absolute;
	margin-left : -2em;
	margin-top : -0.25em;
	counter-increment: help;
	content : counter(help);
	background-color : #133451;
	border: 0.1em solid #307bbb;
	width : 1em;
	height : 1em;
	margin-right : 0.5em;
	padding : 0.25em;
	display : inline-block;
	text-align: center;
	border-radius: 1em;
	font-weight: bold;
	line-height: 1em;
}

.playerlist li {
	list-style : none;
	display: inline-block;
	margin: 1em;
}

.playerlist {
	min-height: 9em;
}

.playerlist .kick:hover {
	opacity : 0.5;
}

.fallback .avatar {
    box-shadow: 1px 1px 10px red;
}

.lobby .play {
	position: fixed;
	bottom: 0;
	right : 0;
	height: 10%;
	padding : 1em;
}

.lobby .play a[disabled='disabled'] {
	background-color : #880000;
	border : 3px solid #440000;
	opacity : 0.5;
	cursor : not-allowed;
}

.play a {
	border : 3px solid #004400;
	background-color : #008800;
	border-radius: 1em;
	padding : 1em;
	font-size: 2em;
	cursor : pointer;
	display : inline-block;
}

.numeric-input {
	font-size: 2em;
	color : #307bbb;
}

.numeric-input input {
	background-color: transparent;
	font-size: 1em;
	border : 0;
	width : 3.5em;
	color : white;
	padding-bottom: 0.5em;
	height : 1.5em;
	font-weight: bold;
	-moz-appearance : textfield;
	-webkit-appearance : textfield;
	appearance : textfield;
}

.index {
	color: #307bbb;
    background-color: white;
    padding: 0.5em 1.5em;
    border: 5px solid #cccccc;
    border-radius: 10px;
    font-weight: bold;
}

.index .current:after {
	content : " /";
}

.question .timer {
	position : fixed;
	top : 0.5em;
	right : 0.5em;
}

.question .top {
	position : fixed;
	z-index: 2;
	width : 100%;
}

.timer-score {
    float: left;
    color: #307bbb;
    background-color: white;
    padding: 0.5em 2.5em 0.5em 1em;
    position: relative;
    top: 0.7em;
    left: 2em;
    border: 5px solid #cccccc;
    border-radius: 10px 0 0 10px;
    font-weight: bold;
}

.question #correct {
	position : fixed;
	z-index: 3;
	top : 50%;
	transform: translateY(-50%);
	width : 100%;
	text-align: center;
	font-size: 6em;
}

.btn-A:before, .btn-B:before, .btn-C:before, .btn-D:before {
	margin-right : 1em;
	color : white;
	font-weight: bold;
	padding : 0.7em 1em;
	border-radius: 2em;
	border-width: 1px;
	border-style : solid;
	display : inline-block;
}

.join video {
	position : fixed;
	display : none;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	z-index : 2;
}

.btn-A:before {
	content : "A";
	background-color : #ff0000;
	border-color : #8b0000;
}

.btn-B:before {
	content : "B";
	background-color : #228b22;
	border-color : #006400;
}

.btn-C:before {
	content : "C";
	background-color : #1e90ff;
	border-color : #4169e1;
}

.btn-D:before {
	content : "D";
	background-color : #d9a700;
	border-color : #8b6b02;
}

.player-lobby span {
	vertical-align : top;
	line-height: 2em;
	font-size: 1.5em;
}

.player-lobby .avatar {
	font-size: 0.5em;
}

.bottom {
	position : fixed;
	bottom : 0;
	width : 100%;
	text-align: center;
}

.bottom .avatar {
	margin: -2.3em 1em 1em 0;
}

.results .avatar {
	float : right;
	font-size: 0.2em;
}

.avatar {
    display: inline-block;
    border-radius: 5em;
    padding: 0.9em;
    overflow: hidden;
}

.avatar img {
    width: 4em;
    height: 4em;
}

.avatar[data-multiplier]::before {
    content: attr(data-multiplier) "x";
    border-radius: 2em;
    padding: 0.25em;
    position: absolute;
    width: 1.2em;
    margin-left: -1em;
    margin-top: -0.8em;
    color: white;
    font-weight: bold;
	text-align : center;
	background-color : inherit;
	text-shadow: 0 0 2px black;
}

.avatar[data-score]::after {
    content: attr(data-score);
    position: absolute;
    margin-left: -0.5em;
    margin-top: -0.5em;
    display: block;
    width: 4.5em;
    text-align: center;
    font-weight: bold;
    color: #307bbb;
	background-color : white;
	border-style : solid;
	border-width : 0.25em;
	border-color : inherit;
	overflow : hidden;
}

.avatar.guessed img {
    filter: invert(100%);
}

.avatar.guessed::after {
	color : white;
	background-color : #307bbb;
}

.score-change-positive, .score-change-negative {
	position: absolute;
	animation: splash 0.5s linear normal;
	width: 4.5em;
	margin-left: -4.5em;
	margin-top: 3.7em;
	z-index: 2;
	border-style : solid;
	border-width : 0.25em;
	border-color : inherit;
	color : white;

}
.score-change-positive {
    background-color : green;
    text-shadow: 0px 1px 1px lime;
}

.score-change-positive:before {
	content : "+";
}

.score-change-negative {
    background-color: #800a00;
    text-shadow: 0px 1px 1px #ff4e00;
}

.score-change-negative ~ .score, .score-change-positive ~ .score {
	color : white;
}

.circle-checkboxes li {
	list-style : none;
	font-size: 2em;
	display : inline-block;
	vertical-align : top;
}

.circle-checkboxes .selected label {
	border-color : #004400;
	background-color : #008800;
}

.circle-checkboxes .loaded label {
	background-color : #307bbb;
}

.circle-checkboxes .failed label {
	border-color : #440000;
	background-color : #880000;
}

.circle-checkboxes .progress {
    text-align: center;
    font-size: 0.8em;
}

.circle-checkboxes label {
	cursor : pointer;
	border-radius: 10em;
	padding : 0.35em;
	border : 3px solid #307bbb;
	margin : 0.25em;
	display : inline-block;
	width : 1em;
	height : 1em;
	line-height: 1em;
}

.circle-checkboxes input[type='checkbox'] {
	visibility: hidden;
	width : 0;
	height : 0;
	position : absolute;
}

body, button {
	font-family: FontAwesome, Ubuntu !important;
}

body#server {
	background : black url('../img/simple_dashed.png');
	overflow : hidden;
}

big {
	padding : 1em;
	display : inline-block;
	font-size: 2em;
	text-transform: uppercase;
}

@keyframes resize-title {
   0% { transform : scale(0.5) translateY(-50%); }
  10% { transform : scale(2) translateY(-50%); }
  20% { transform : scale(1) translateY(-50%); }
  90% { transform : scale(1) translateY(-50%); }
  100% { transform : scale(1) translateY(-50%); }
}

@keyframes resize-correct {
	 0% { opacity : 0; transform : scale(0.05) rotateZ(720deg); }
	25% { opacity : 0.25; transform : scale(0.2) rotateZ(540deg); }
	50% { opacity : 0.5; transform : scale(0.4) rotateZ(360deg); }
	75% { opacity : 0.75; transform : scale(0.6) rotateZ(180deg); }
	100% { opacity : 1; transform : scale(1) rotateZ(0); }
}

@keyframes splash {
   0% { transform : scale(0.5); }
  50% { transform : scale(2); }
  100% { transform : scale(1); }
}

@keyframes gold {
   0% { text-shadow: 1px 1px 1px white; color : #907900; }
  50% { text-shadow : 1px 1px 10px #FFD700; color : #FFD700; }
  100% { text-shadow: 1px 1px 1px white; color : #907900; }
}

@keyframes scroll {
	0% { top : 100vh; }
	100% { top : -100%; }
}
