$fa-font-path: "../../common/fonts/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fontsource/ubuntu/scss/mixins.scss";

@include fontFaceCustom(
  	$weight: 400,
  	$woff2Path: "../../common/fonts/ubuntu/ubuntu-latin-400-normal.woff2",
	$woffPath: "../../common/fonts/ubuntu/ubuntu-latin-400-normal.woff"
);
@include fontFaceCustom(
  	$weight: 700,
  	$woff2Path: "../../common/fonts/ubuntu/ubuntu-latin-700-normal.woff2",
	$woffPath: "../../common/fonts/ubuntu/ubuntu-latin-700-normal.woff"
);

$primary : #307bbb;
$primary_border : #133451;
$secondary : #ffffff;
$secondary_border : #aaaaaa;
$incorrect : #880000;
$incorrect_border : darken($incorrect, 20%);
$correct : #008800;
$correct_border : darken($correct, 20%);
$font : #ffffff;
$background : transparentize($primary, 0.7);
$A_color: #ff2600ee;
$B_color: #228b22;
$C_color: #1e90ff;
$D_color: #ccb805;

html {
   background: linear-gradient(290deg, $background, adjust-hue($background, -20deg)), url('../../common/img/simple_dashed.png');
   background-size: cover, 2em;
   background-blend-mode: screen;
   height : 100%;
}

body {
	color : $font;
	font-family: 'Ubuntu' !important;
	overflow : hidden;
}

button {
	font-family: 'Ubuntu' !important;
}

@mixin button-icon($color, $text) {
	$border: darken($color, 10%);
	&:before {
		background-color : $color;
		border-color : $border;
		border-radius: 2em;
		border-style : solid;
		border-width: 0.1em;
		color : $font;
		content : $text;
		display : inline-block;
		font-weight: bold;
		margin-right : 0.2em;
		padding : 0.2em;
		font-size: 2em;
		line-height: 1em;
		width: 1em;
		text-align: center;
	}
}

.button-icon-A {
	@include button-icon($A_color, "A");
}

.button-icon-B {
	@include button-icon($B_color, "B");
}

.button-icon-C {
	@include button-icon($C_color, "C");
}

.button-icon-D {
	@include button-icon($D_color, "D");
}

.message {
	background-color : $incorrect;
	border : 0.2em solid $incorrect_border;
	color : $font;
	padding : 0.5em;
	margin : 0.5em 0;
	border-radius: 1em;
}

.avatar {
	border-radius: 5em;
	display: inline-block;
	overflow: hidden;
	padding: 0.9em;
	img {
		height: 4em;
		width: 4em;
	}

	&[data-multiplier]::before {
		background-color : inherit;
		border-radius: 2em;
		color: $font;
		content: attr(data-multiplier) "x";
		font-weight: bold;
		margin-left: -1em;
		margin-top: -0.8em;
		padding: 0.25em;
		position: absolute;
		text-align : center;
		text-shadow: 0 0 0.2em black;
		width: 1.2em;
	}

	&[data-score]::after {
		background-color : $secondary;
		border-color : inherit;
		border-style : solid;
		border-width : 0.25em;
		border-radius: 0.5em;
		color: $primary;
		content: attr(data-score);
		display: block;
		font-weight: bold;
		margin-left: -1em;
		margin-top: -0.25em;
		overflow : hidden;
		position: absolute;
		text-align: center;
		width: 5.5em;
	}

	.disconnected {
		font-size: 3em;
		padding : 0.2em;
	}

	.guessed & {
		img:first-of-type {
			filter: invert(100%);
		}
		&::after {
			background-color : $primary;
			color : $font;
		}
	}
}