$primary : #307bbb;
$primary_border : #133451;
$secondary : #ffffff;
$secondary_border : #aaaaaa;
$incorrect : #880000;
$incorrect_border : #440000;
$correct : #008800;
$correct_border : #004400;
$font : #ffffff;
$background : #000000;

html {
   background: linear-gradient(290deg, transparentize($primary, 0.6), transparentize($primary_border, 0.7)), url('../../common/img/simple_dashed.png');
   background-size: cover, 2em;
   background-blend-mode: screen;
   height : 100%;
}

body {
	color : $font;
	font-family: FontAwesome, Ubuntu !important;
	overflow : hidden;

	@media (max-width: 1600px), (max-height : 800px) {
		font-size: 0.75em;
	}
}

button {
	font-family: FontAwesome, Ubuntu !important;
}

@mixin big-button($color, $border, $text) {
	&:before {
		background-color : $color;
		border-color : $border;
		border-radius: 2em;
		border-style : solid;
		border-width: 1px;
		color : $font;
		content : $text;
		display : inline-block;
		font-weight: bold;
		margin-right : 1em;
		padding : 0.7em 1em;
	}
}

.btn-A {
	@include big-button(#ff0000, #8b0000, "A");
}

.btn-B {
	@include big-button(#228b22, #006400, "B");
}

.btn-C {
	@include big-button(#1e90ff, #4169e1, "C");
}

.btn-D {
	@include big-button(#d9a700, #8b6b02, "D");
}

.btn {
	background-color: $primary;
	border : 0.2em solid $primary_border;
	border-radius: 0.5em;
	cursor : pointer;
	display : block;
	float : right;
	font-size: 1.5em;
	font-weight: bold;
	height : 1em;
	line-height: 1em;
	margin : 0.5em;
	padding : 0.5em;
	color : white;
	text-decoration: none;

	&:active {
		border-color : $secondary_border;
	}

	&[disabled="disabled"] {
		background-color : $incorrect;
		border-color : $incorrect_border;
		cursor : not-allowed;
		opacity : 0.5;
	}
}

.message {
	background-color : $incorrect;
	border : 3px solid $incorrect_border;
	color : $font;
	padding : 0.5em;
	margin : 0.5em 0;
	border-radius: 1em;
}

.avatar {
	border-radius: 5em;
	display: inline-block;
	overflow: hidden;
	padding: 0.9em;
	img {
		height: 4em;
		width: 4em;
	}

	&[data-multiplier]::before {
		background-color : inherit;
		border-radius: 2em;
		color: $font;
		content: attr(data-multiplier) "x";
		font-weight: bold;
		margin-left: -1em;
		margin-top: -0.8em;
		padding: 0.25em;
		position: absolute;
		text-align : center;
		text-shadow: 0 0 2px black;
		width: 1.2em;
	}

	&[data-score]::after {
		background-color : $secondary;
		border-color : inherit;
		border-style : solid;
		border-width : 0.25em;
		color: $primary;
		content: attr(data-score);
		display: block;
		font-weight: bold;
		margin-left: -0.5em;
		margin-top: -0.5em;
		overflow : hidden;
		position: absolute;
		text-align: center;
		width: 4.5em;
	}

	&.guessed {
		img:first-of-type {
			filter: invert(100%);
		}
		&::after {
			background-color : $primary;
			color : $font;
		}
	}

	.fallback &:before,.disconnected &:before {
		background-color : inherit;
		border-radius: 2em;
		font-weight: bold;
		margin-left: -1em;
		margin-top: -0.8em;
		padding: 0.25em;
		position: absolute;
		text-align : center;
		text-shadow: 0 0 4px black;
		width: 1.2em;
	}

	.fallback &:before {
		color: yellow;
		content: "\f0e7";
	}

	.disconnected &:before {
		color : red !important;
		content: "\f0e7";
	}
}