@use "sass:color";
@use "colors.scss" as triviacolors;


@use "../../node_modules/@fontsource/ubuntu/scss/metadata.scss" as ubuntu;
@use "../../node_modules/@fontsource-utils/scss/src/mixins.scss" as fontsource;

@use "../../node_modules/@fortawesome/fontawesome-free/scss/_variables.scss" with (
	$font-path: "../../common/fonts/fontawesome"
);
@use "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

@include fontsource.faces(
  $metadata: ubuntu.$metadata,
  $weights: (400),
  $styles: all,
  $directory: "../../common/fonts/ubuntu"
);

html {
   height : 100%;
}

body {
	color : triviacolors.$font;
	font-family: 'Ubuntu' !important;
	overflow : hidden;
}

button {
	font-family: 'Ubuntu' !important;
}

@mixin button-icon($color, $text) {
	$border: color.adjust($color, $lightness: -10%, $space: hsl);
	&:before {
		background-color : $color;
		border-color : $border;
		border-radius: 1.5em;
		border-style : solid;
		border-width: 0.1em;
		color : triviacolors.$font;
		content : $text;
		display : inline-block;
		font-weight: bold;
		margin-right : 0.2em;
		padding : 0.2em;
		font-size: 1.5em;
		line-height: 1em;
		width: 1em;
		text-align: center;
		flex-shrink: 0;
	}
}

.button-icon-A {
	@include button-icon(triviacolors.$A_color, "A");
}

.button-icon-B {
	@include button-icon(triviacolors.$B_color, "B");
}

.button-icon-C {
	@include button-icon(triviacolors.$C_color, "C");
}

.button-icon-D {
	@include button-icon(triviacolors.$D_color, "D");
}

.message {
	background-color : triviacolors.$incorrect;
	border : 0.2em solid triviacolors.$incorrect_border;
	color : triviacolors.$font;
	padding : 0.5em;
	margin : 0.5em 0;
	border-radius: 1em;
}

.avatar {
	border-radius: 5em;
	display: inline-block;
	overflow: hidden;
	padding: 0.9em;
	img {
		height: 4em;
		width: 4em;
	}

	&[data-multiplier]::before {
		background-color : inherit;
		border-radius: 2em;
		color: triviacolors.$font;
		content: attr(data-multiplier) "x";
		font-weight: bold;
		margin-left: -1em;
		margin-top: -0.8em;
		padding: 0.25em;
		position: absolute;
		text-align : center;
		text-shadow: 0 0 0.2em black;
		width: 1.2em;
	}

	&[data-score]::after {
		background-color : triviacolors.$secondary;
		border-color : inherit;
		border-style : solid;
		border-width : 0.25em;
		border-radius: 0.5em;
		color: triviacolors.$primary;
		content: attr(data-score);
		display: block;
		font-weight: bold;
		margin-left: -1em;
		margin-top: -0.25em;
		overflow : hidden;
		position: absolute;
		text-align: center;
		width: 5.5em;
	}

	i {
		display : inline-block;
		width : 1em;
		font-size: 3em;
		padding : 0.2em;
	}

	.guessed & {
		img:first-of-type {
			filter: invert(100%);
		}
		&::after {
			background-color : triviacolors.$primary;
			color : triviacolors.$font;
		}
	}
}