# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/.htaccess
/node_modules
/.cache
/conf/*.json
/data
/data/*
/server/questions/custom
/css/trivia.css
.idea/*
.vscode/*
