{
	"avatars": ["monkey","dog","wolf","cat","lion","tiger","horse","cow","dragon","pig","mouse","hamster","rabbit","bear","panda","frog","octopus","turtle","bee","snail","penguin"],
	"categories": [
		"geography"
	],
	"fake_categories": [
		{ "icon" : "fa-comments", "name" : "Internal Jokes" }
	],
	"tts":{
	    "url": "http://local.tts.service:9999/?text={text}",
	    "skipWords" : ["$"]
	}
}
