<div class="question">
	<div class="top">
			<div class="index" v-if="timer.running">
				<div class="infobox">
					<span class="current">{{ session.index }}</span>
					<span class="total">{{ session.total }}</span>
				</div>
				<div class="category infobox" v-if="session.currentCategory">{{ session.currentCategory.fullName }}</div>
			</div>
			<div class="title" v-bind:class="{'full-animation' : state == 'pre-question', 'full-static' : (state == 'question' && !minimizeQuestion)}">{{ title }}</div>
			<div class="timer" v-if="timer.running">
				<div class="timer-score infobox"><i class="fas fa-fw fa-star"></i>{{ timer.score }}</div>
				<div class="timer-counter" v-bind:data-seconds="timer.timeLeft" v-bind:data-percentage="timer.percentageLeft">
					<svg viewBox="0 0 38 38">
					  <circle id="border" r="15.9155" cx="19" cy="19"></circle>
					  <circle id="bar" r="15.9155" cx="19" cy="19" stroke-dasharray="100" v-bind:stroke-dashoffset="(100 - timer.percentageLeft )"></circle>
					</svg>
				</div>
			</div>
	</div>
	<div id="content" v-bind:class="state">
		<component v-bind:is="playbackPlayer" v-bind:view="playback.view" ref="playback"></component>
		<div class="message" v-if="error">{{ error }}</div>
	</div>
	<div id="correct" v-if="state == 'post-question'" v-bind:class="'button-icon-' + correct['key']">{{ correct['answer'] }}</div>
	<div id="category-spinner" v-if="state == 'loading'">
		<category-spinner ref="spinner" v-on:flip="sound.click()" v-bind:categories="spinner.categories" v-bind:correct="session.currentCategory.name"/>
	</div>
	<div class="bottom">
		<transition-group name="playerposition" tag="ul" class="playerlist">
			<li v-for="player in players" :key="player.id" v-bind:class="{'guessed' : player.guessed, 'disconnected' : !player.connected, 'score-change-positive': achievedPoints(player), 'score-change-negative': lostPoints(player)}">
				<img src="img/crown.png" class="leader" v-if="isLeadingPlayer(player)"/>
				<div class="avatar" v-bind:data-score="playerNameOrPoints(player)" v-bind:data-multiplier="player.multiplier" v-bind:style="{'background-color': player.color, 'border-color': player.color}">
					<img v-bind:src="'../common/img/avatars/' + player.avatar + '.png'"/>
				</div>
			</li>
		</transition-group>
	</div>
</div>
