@import "../../common/css/trivia.scss";

.join {
	font-size: 0.75em;

	video {
		bottom : 0;
		display : none;
		left : 0;
		position : fixed;
		right : 0;
		top : 0;
		z-index : 2;
	}
	label {
		display : inline-block;
		margin : 0.2em 0;
		width : 100%;
		font-size: 2em;
	}
	input {
		background-color : $secondary;
		border : 0.15em solid $primary;
		border-radius: 0.5em;
		box-sizing: border-box;
		color : $primary;
		font-weight: bold;
		height : 2em;
		padding : 0.1em 0.5em;
		width : 100%;
		font-size : 2em;
		margin-bottom: 0.5em;
	}
	#avatar-selector {
		display : flex;
		div {
			font-size: 0.65em;
			clear : both;
			overflow-x: scroll;
			white-space: nowrap;

			label {
				width : auto;
			}
			input {
				display : none;
			}
			input:checked + .avatar {
				background-color : $primary;
			}
		}
		button {
			min-width: 2em;
		}
	}
}

.buttons {
	
	button {
		font-size: 2.5em;
		width: calc(100% - 1em);
		justify-content : center;
		i {
			margin-right : 0.5em;
		}
	}
}

button {
	display : flex;
	align-items: center;
	background-color: $primary;
	border : 0.2em solid $primary_border;
	border-radius: 0.5em;
	cursor : pointer;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1em;
	margin : 0.5em;
	padding : 0.5em;
	color : white;
	text-decoration: none;
	white-space : nowrap;
	overflow : hidden;
	outline : none;

	&:active {
		border-color : $secondary_border;
	}

	&[disabled="disabled"] {
		cursor : not-allowed;
	}
}

@mixin guess-button($color) {
	background-color: darken($color, 20%);
	border-color: $color;
	width: calc(100% - 1em);
	&.selected {
		background-color: $color;
		border-color: darken($color, 20%);		
	}

	&.correct {
		background-color: $correct;
		border-color: $correct_border;
		&:before {
			content: "\f00c";
			font-family: 'Font Awesome 6 Free';
			color: $correct;
			background-color : $correct_border !important;
			border-color : $correct !important;
		}	
	}

	&.incorrect {
		background-color: $incorrect;
		border-color: $incorrect_border;
		&:before {
			content: "\f00d";
			font-family: 'Font Awesome 6 Free';
			color: $incorrect;
			background-color : $incorrect_border !important;
			border-color : $incorrect !important;
		}	
	}

	&.unused {
		background-color: #AAA;
		border-color: darken(#AAAA, 20%);
	}

	&.selected:before {
		content: "\f023";
		font-family: 'Font Awesome 6 Free';
		background-color: darken($color, 20%);	
		margin-left: 0.5em;	
	}
}

.answer {
	height : 100%;
	left : 0;
	margin : 0;
	padding : 0;
	position: absolute;
	text-align: center;
	top : 0;
	width : 100%;
	display : flex;
	flex-direction: column;

	.stats {
		height: 20%;
	    font-weight: bold;
	    font-size: 3em;
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
		border-bottom : 0.1em solid $primary;
		text-shadow : 0.05em 0.05em 0 $primary;
	}

	button {
		font-size: 1.5em;
		text-align: left;
		flex: 1;
	}

	button.button-icon-A {
		@include guess-button($A_color);
	}

	button.button-icon-B {
		@include guess-button($B_color);
	}

	button.button-icon-C {
		@include guess-button($C_color);
	}

	button.button-icon-D {
		@include guess-button($D_color);
	}

	.fa-stack {
		margin-top : 1em;
	}
	.fa-stack-2x {
		color: $primary;
	}
	.fa-stack-1x {
		animation: splash 0.5s linear normal;
		line-height: 1.75em;
	}
	h3 {
		font-size: 2em;
	}
}