.credits {
	animation : 1s scroll linear infinite;
	color : $font;
	position : relative;
	text-align: center;
	width : 100%;
	&:hover {
		animation-play-state: paused;
	}
	.winner {
		h1 {
			font-size: 6em;
			i {
				animation: gold 4s linear infinite;
			}
		}
	}
	.loser {
		h1 {
			font-size: 4em;
		}
	}
	.attribution {
		h1 {
			font-size: 4em;
		}
		a {
			color : $primary;
			font-weight: bold;
			text-decoration: none;
		}
		&:hover {
			ul {
				visibility: visible;
			}
		}
		ul {
			list-style: none;
			visibility: hidden;
		}
		span {
			font-size: 6em;
		}
	}
	.avatar {
		font-size: 2em;
		margin : 1em;
	}
	.summary {
		display : inline-block;
		font-size: 2em;
		padding-bottom: 1em;
		position: relative;
		top : -2em;
		span {
			padding-right : 0.5em;
			font-size: 1.5em;
		}
		.correct i {
			color : $correct;
			text-shadow : 0.05em 0.05em 0.1em $correct_border;
		}
		.failed i {
			color : $incorrect;
			text-shadow : 0.05em 0.05em 0.1em $incorrect_border;
		}
		.fastest i,.slowest i {
			color : $primary;
			text-shadow : 0.05em 0.05em 0.1em $primary_border;
		}
	}
	h2 {
		font-size: 2em;
		text-align : left;
		margin : 0.5em 0;
	}

	& > div {
		height : 50vh;
	}
}
 
@keyframes gold {
    0% { text-shadow: 0 0 0.1em white; color : #907900; }
   50% { text-shadow : 0 0 0.75em #FFD700; color : #FFD700; }
   100% { text-shadow: 0 0 0.1em white; color : #907900; }
 }

@keyframes scroll {
    0% { top : 100vh; transform : translateY(0) }
    100% { top : 0; transform : translateY(-100%) }
}