@use "../../common/css/colors.scss" as triviacolors;
@use "./input.scss" as *;

body {
	@media (min-height: 720px) {
		font-size: 0.666em;
	}
	@media (min-height: 810px) {
		font-size: 0.75em;
	}
	@media (min-height: 1080px) {
		font-size: 1em;
	}
	@media (min-height: 1440px) {
		font-size: 1.25em;
	}
	@media (min-height: 1620px) {
		font-size: 1.5em;
	}
	@media (min-height: 1890px) {
		font-size: 1.75em;
	}
	@media (min-height: 2160px) {
		font-size: 2em;
	}
}


.lobby {
	color : triviacolors.$font;
	.settings {
		float : left;
		text-align: center;
		width : 35%;
	}
	.players {
		float : left;
		text-align: center;
		width : 40%;
		.playerlist {
			min-height: 9em;
		}
		p {
			font-size: 2em;
			min-height: 4.5em;
		}
	}
	.questionCount {
		background-color : triviacolors.$primary_border;
		border : 0.2em solid triviacolors.$primary;
		color : triviacolors.$font;
		padding : 0.5em;
		margin : 0.5em 0;
		border-radius: 1em;
	}
	.carousel {
		li {
			list-style: none;
			font-size: 2em;
			animation: splash 0.5s linear normal;
			display : none;
			&.show {
				display : block;
			}

			a {
				color : white;
				text-decoration: none;
			}
		}
	}
	.message {
		position : absolute;
		bottom : 2em;
		left : 30%;
		right : 30%;
		white-space: nowrap;
		text-align: center;
	}
}

.instructions {
	width : 24.8em;
	height : 50em;

	font-family: Arial;
	background-image : url('../img/phone.png');
	background-size: contain;
	padding-top : 8.25em;
	padding-left : 1.2em;
	padding-right : 1.5em;
	box-sizing: border-box;
	transform: rotate3d(1, 2.0, 3.0, 10deg) scale(0.8);

	&:before {
		content : attr(data-url);
		position : absolute;
		color : black;
		margin-top : -1.6em;
		margin-left : -7.5em;
		font-size: 1.1em;
	}

	div {
		background-color : white;
		color : black;
		height : 21em;
		padding : 0.3em;
		line-height: 1.2em;
		font-size: 1.7em;
	}
}

ol {
	counter-reset: help;
	display: inline-block;
	list-style: none;
	padding-left : 1em;
	li {
		height : 2em;
		margin-bottom : 0.5em;
		text-align: left;
		&:before {
			background-color : triviacolors.$primary_border;
			border-radius: 1em;
			border: 0.1em solid triviacolors.$primary;
			content : counter(help);
			counter-increment: help;
			display : inline-block;
			font-weight: bold;
			height : 1em;
			line-height: 1em;
			margin-left : -2em;
			margin-right : 0.5em;
			margin-top : -0.25em;
			padding : 0.25em;
			position : absolute;
			text-align: center;
			width : 1em;
		}
	}
}

.connect {
    float : left;
    text-align: center;
    width : 25%;
    
	.qr {
		display: inline-block;
		background-color: triviacolors.$secondary;
		border-radius: 1em 1em 0 0;
		margin-bottom: -0.3em;
		border: 0.3em solid triviacolors.$primary;
		width: 24em;
		height: 24em;
		overflow: hidden;
		i {
			line-height: 24em;
			color: triviacolors.$primary;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.code {
		background-color : triviacolors.$primary;
		border-radius : 0 0 1em 1em;
		display : inline-block;
		font-weight: bold;
		margin : 0;
		padding : 1em 0;
		text-transform: uppercase;
		width : 24em;
		border : 0.3em solid triviacolors.$primary;
	}
}

#start a {
	background-color : triviacolors.$primary;
	border-radius: 1em;
	border: 0.1em solid triviacolors.$primary_border;
	color : triviacolors.$font;
	cursor : pointer;
	font-size: 2em;
	margin : 1em;
	padding : 1em;
	position : fixed;
	right : 0;
	bottom : 0;

	&[disabled] {
		background-color : triviacolors.$incorrect;
		border : 0.1em solid triviacolors.$incorrect_border;
		cursor : not-allowed;
		opacity : 0.5;
	}
}