@import "../../common/css/trivia.scss";
@import "./playback.scss";
@import "./lobby.scss";
@import "./credits.scss";

.question {
	#content, #category-spinner {
		bottom : 8em;
		left : 2em;
		position : fixed;
		right : 2em;
		text-align : center;
		top : 5em;
	}
	#content.pre-question {
		iframe {
			opacity : 0;
		}
	}
	.title {
		color : $font;
		font-size: 3em;
		font-size: 6em;
		font-weight: bold;
		text-align: center;
		text-shadow: 0.025em 0.025em 0.025em grey;
		transform : scale(0.5) translateY(-50%);

		&.full-animation {
			animation : resize-title 3s linear normal forwards;
			display : block;
			opacity : 1;
			position : fixed;
			top : 50%;
			transform : scale(2) translateY(-50%);
			width : 100%;
		}
		
		&.full-static {
			display : block;
			opacity : 1;
			position : fixed;
			top : 50%;
			transform : translateY(-50%);
			width : 100%;
		}
	}
	#correct {
		animation : resize-correct 1s linear normal;
		color : $font;
		font-size: 3em;
		font-size: 6em;
		font-weight: bold;
		position : fixed;
		text-align: center;
		text-align: center;
		text-shadow: 0.025em 0.025em 0.025em grey;
		top : 50%;
		transform: translateY(-50%);
		width : 100%;
		z-index: 3;
	}
	.index {
		left: 0.5em;
		position: fixed;
		top: 1em;
	}
	.timer {
		position : fixed;
		right : 0.5em;
		top : 0.5em;
	}
	.top {
		position : fixed;
		width : 100%;
		z-index: 2;
	}
}

.infobox {
	background-color: $secondary;
	border-radius: 0.6em;
	border: 0.3em solid $secondary_border;
	color: $primary;
	font-weight: bold;
	padding: 0.5em 1em;
}

.spinner {
	position : relative;
	height : 10em;
	padding: 0;
	display: block;
	text-align: center;
	margin: 2em 4em;
	font-size: 3em;

	&:before {
		content : "\f04b";
		font-family : 'Font Awesome 6 Free';
		font-size : 3em;
		display : block;
		position : absolute;
		top : 50%;
		margin-top : -0.15em;
		margin-left : -0.15em;
		z-index : 6;
	}

	li {
		list-style : none;
		height : 3em;
		position : absolute;
		line-height : 3em;
		transition-duration: inherit;
		transition-timing-function: linear;
		transition-property: color, background-color, transform;
		width : 100%;
		white-space: nowrap;
		overflow: hidden;

		img {
			height: 1em;
			width : 1em;
			filter: grayscale(100%) contrast(1000%) invert(100%);
			mix-blend-mode: screen;
			vertical-align: sub;
		}
	}
	li:nth-child(1) {
		transform : translateY(0) rotateX(-90deg);
		color: darken($font, 75%);
		background-color : $primary_border;
		z-index: 2;

	}
	li:nth-child(2) {
		transform : translateY(0.5em) rotateX(-70deg);
		color: darken($font, 50%);
		background-color : mix($primary, $primary_border, 25%);
		z-index: 3;
	}
	li:nth-child(3) {
		transform : translateY(2.1em) rotateX(-40deg);
		color: darken($font, 25%);
		background-color : mix($primary, $primary_border, 50%);
		z-index: 4;
	}

	li:nth-child(4) {
		transform : translateY(4.7em) rotateX(0deg);
		color: $font;
		background-color : $primary;
		z-index: 5;
	}

	li:nth-child(5) {
		transform : translateY(7.3em) rotateX(40deg);
		color: darken($font, 25%);
		background-color : mix($primary, $primary_border, 50%);
		z-index: 4;
	}
	li:nth-child(6) {
		transform : translateY(8.9em) rotateX(70deg);
		color: darken($font, 50%);
		background-color : mix($primary, $primary_border, 25%);
		z-index: 3;
	}
	li:nth-child(7) {
		transform : translateY(9.4em) rotateX(90deg);
		color: darken($font, 75%);
		background-color : $primary_border;
		z-index: 2;
	}
	li:nth-child(n+8)  {
		transform : translateY(4.7em) rotateX(180deg);
		background-color : $primary_border;
		z-index: 1;
		transition-duration: 0;
	}

	&.highlight li:nth-child(4) {
		background-color :$correct !important;
		transition-duration: 0.1s !important;
		* {
			transition: font-size 0.5s linear;
			font-size : 1.75em;
		}
	}
}

.playerlist {
	margin-bottom : 0;
	li {
		display: inline-block;
		list-style : none;
		margin: 0 1em 1em 0;
		&.playerposition-move {
			transition: transform 1s ease;
		}
	}
	.kick {
		&:hover {
			cursor: not-allowed;
			opacity : 0.5;
		}
	}
}

.index {
	.infobox {
		float : left;
	}
	.current {
		&:after {
			content : " /";
		}
	}
}

.category {
	position: relative;
	left: -0.6em;
	z-index: -1;
	border-radius: 0 0.6em 0.6em 0;
}

.timer-score {
	float: left;
	left: 2em;
	padding: 0.5em 2.5em 0.5em 1em;
	position: relative;
	top: 0.7em;
}

@mixin timer-counter-loop {
    @for $i from 10 to 0 {
        &[data-percentage="#{$i}"] {
            color : $incorrect;
            &:before {
                transform: scale(0.5, 0.5);
                animation: timer-pulse 1s linear infinite;
            }
            svg #bar {
                stroke : $incorrect;
            }
        }
    }
}

.timer-counter {
	font-size: 2.1em;
	position : relative;
	width : 2em;
	height : 2em;
	float : right;
	color : $primary;
	@include timer-counter-loop;

	svg {
		transform : rotate(90deg) scaleX(-1);
		width : 100%;
		height : 100%;
		circle {
			transition: stroke-dashoffset 0.1s linear;
			stroke: $secondary_border;
			stroke-width: 0.15em;
			fill: $secondary;
		}
		#bar {
			stroke: $primary;
			fill: transparent;
		}
	}

	&:before {
		content : attr(data-seconds);
		position : absolute;
		z-index : 2;
		width : 2em;
		line-height: 2em;
		text-align: center;
		display: block;
		transform : scale(0.75);
	}
}

h1 {
	color : $secondary_border;

	i {
		color : $primary;
	}

	&::after {
		border: 0.075em solid $primary;
		content: "";
		display: block;
		margin-left: 20%;
		margin-top: 0.1em;
		width: 60%;
	}
}

.bottom {
	bottom : 0;
	position : fixed;
	text-align: center;
	width : 100%;
}


.score-change-positive .avatar {
	animation : glow-positive 1s linear normal;
	box-shadow : 0 0 3em $correct, 0 0 1.5em $correct;

	img {
		filter: contrast(200%);
	}

	&::after {
		background-color: $correct;
		border-color: $correct_border;
		color: $font;
	}
}

.score-change-negative .avatar {
	animation : glow-negative 1s linear normal;
	box-shadow : 0 0 3em $incorrect, 0 0 1.5em $incorrect;

	img {
		filter: grayscale(100%);
	}
	
	&::after {
		background-color: $incorrect;
		border-color: $incorrect_border;
		color: $font;
	}
}

.score-change-negative~.score {
	color : $font;
}

.score-change-positive~.score {
	color : $font;
}

.leader {
	position : absolute;
	z-index: 2;
	margin-left : 1.35em;
	margin-top : -1em;
	width : 3em;
	height : 3em;
}

.error .message {
	font-size: 2em;
}

@keyframes resize-title {
    0% { transform : scale(0.5) translateY(-50%); }
   10% { transform : scale(2) translateY(-50%); }
   20% { transform : scale(1) translateY(-50%); }
   90% { transform : scale(1) translateY(-50%); }
   100% { transform : scale(1) translateY(-50%); }
 }
 
 @keyframes resize-correct {
	0% { transform: translateY(-50%) translateX(250%) skew(-45deg, 0deg); }
	75% { transform: translateY(-50%) translateX(0) skew(-20deg, 0deg); }
	100% { transform: translateY(-50%) translateX(0) skew(0); } 
 }
 
 @keyframes timer-pulse {
    0% { transform : scale(0.5); }
   50% { transform : scale(2); }
   100% { transform : scale(1); }
 }

 @keyframes glow-negative {
     0% { box-shadow : 0 0 0 $incorrect, 0 0 0 $incorrect }
     50% { box-shadow : 0 0 6em $incorrect, 0 0 3em $incorrect }
     100% { box-shadow : 0 0 3em $incorrect, 0 0 1.5em $incorrect }
 }
 
 @keyframes glow-positive {
     0% { box-shadow : 0 0 0 $correct, 0 0 0 $correct }
     50% { box-shadow : 0 0 6em $correct, 0 0 3em $correct }
     100% { box-shadow : 0 0 3em $correct, 0 0 1.5em $correct }
 }