@use "sass:color";
@use "../../common/css/colors.scss" as triviacolors;
@use "../../common/css/trivia.scss" as *;
@use "./playback.scss" as *;
@use "./lobby.scss" as *;
@use "./credits.scss" as *;

.question {
	#content, #category-spinner {
		bottom : 8em;
		left : 2em;
		position : fixed;
		right : 2em;
		text-align : center;
		top : 5em;
	}
	#content.pre-question {
		iframe {
			opacity : 0;
		}
	}
	.title {
		color : triviacolors.$font;
		font-size: 3em;
		font-size: 6em;
		font-weight: bold;
		text-align: center;
		text-shadow: 0.025em 0.025em 0.025em grey;
		transform : scale(0.5) translateY(-50%);

		&.full-animation {
			animation : resize-title 3s linear normal forwards;
			display : block;
			opacity : 1;
			position : fixed;
			top : 50%;
			transform : scale(2) translateY(-50%);
			width : 100%;
		}
		
		&.full-static {
			display : block;
			opacity : 1;
			position : fixed;
			top : 50%;
			transform : translateY(-50%);
			width : 100%;
		}
	}
	#correct {
		animation : resize-correct 1s linear normal;
		color : triviacolors.$font;
		font-size: 3em;
		font-size: 6em;
		font-weight: bold;
		position : fixed;
		text-align: center;
		text-align: center;
		text-shadow: 0.025em 0.025em 0.025em grey;
		top : 50%;
		transform: translateY(-50%);
		width : 100%;
		z-index: 3;
		vertical-align: middle;
	}
	.index {
		left: 0.5em;
		position: fixed;
		top: 0.75em;
	}
	.timer {
		position : fixed;
		right : 0.5em;
		top : 0.75em;
	}
	.top {
		position : fixed;
		width : 100%;
		z-index: 2;
	}
}

.infobox {
	background-color: triviacolors.$secondary;
	border-radius: 0.6em;
	border: 0.3em solid triviacolors.$secondary_border;
	color: triviacolors.$primary;
	font-weight: bold;
	font-size: 1.25em;
	padding: 0.5em 1em;
}

#round {
  position: fixed;
  background-color: triviacolors.$primary_border;
  left: 0;
  top: 40%;
  width: 100%;
  z-index: 2;
  font-size: 10em;
  bottom: 40%;
  border-style: solid;
  border-width : 5px 0;
  border-color : triviacolors.$primary;
  box-shadow: 0 0 50px triviacolors.$primary;
  opacity : 0;
  animation: round 3s linear;

  &:before {
	content: attr(data-round);
	-webkit-background-clip: text;
	background-clip: text;
	color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0.1em;
	left: 0;
	width : 100%;
	text-align: center;
	background-image: linear-gradient(triviacolors.$font 55%, rgba(0,0,0,0) 0%);
	animation: round-from-left 3s linear;
  }

  &:after {
	content: attr(data-round);
	-webkit-background-clip: text;
	background-clip: text;
	color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0.1em;
	left: 0;
	width : 100%;
	text-align: center;
	background-image: linear-gradient(rgba(0,0,0,0) 55%, triviacolors.$font 0%);
	animation: round-from-right 3s linear;
  }
}

.spinner {
	position : relative;
	height : 9.4em;
	padding: 0;
	display: block;
	text-align: center;
	margin: 0;
	font-size: 3em;
	top : 50%;
	transform: translateY(-50%);

	&:before {
		content : "\f04b";
		font-family : 'Font Awesome 7 Free';
		font-size : 3em;
		display : block;
		position : absolute;
		top : 50%;
		margin-top : -0.5em;
		margin-left : -0.15em;
		z-index : 6;
	}

	li {
		list-style : none;
		height : 3em;
		position : absolute;
		line-height : 3em;
		transition-duration: inherit;
		transition-timing-function: linear;
		transition-property: color, background-color, transform;
		width : 100%;
		white-space: nowrap;
		overflow: hidden;

		img, i {
			margin-right : 0.5em;
		}
		
		img {
			height: 1em;
			width : 1em;
			filter: grayscale(100%) contrast(1000%) invert(100%);
			mix-blend-mode: screen;
			vertical-align: sub;
		}
	}
	li:nth-child(1) {
		transform : translateY(-1.5em) rotateX(-90deg);
		color: color.adjust(triviacolors.$font, $lightness: -75%, $space: hsl);
		background-color : triviacolors.$primary_border;
		z-index: 2;

	}
	li:nth-child(2) {
		transform : translateY(-1em) rotateX(-70deg);
		color: color.adjust(triviacolors.$font, $lightness: -50%, $space: hsl);
		background-color : color.mix(triviacolors.$primary, triviacolors.$primary_border, $weight: 25%);
		z-index: 3;
	}
	li:nth-child(3) {
		transform : translateY(0.6em) rotateX(-40deg);
		color: color.adjust(triviacolors.$font, $lightness: -25%, $space: hsl);
		background-color : color.mix(triviacolors.$primary, triviacolors.$primary_border, $weight: 50%);
		z-index: 4;
	}

	li:nth-child(4) {
		transform : translateY(3.2em) rotateX(0deg);
		color: triviacolors.$font;
		background-color : triviacolors.$primary;
		z-index: 5;
	}

	li:nth-child(5) {
		transform : translateY(5.8em) rotateX(40deg);
		color: color.adjust(triviacolors.$font, $lightness: -25%, $space: hsl);
		background-color : color.mix(triviacolors.$primary, triviacolors.$primary_border, $weight: 50%);
		z-index: 4;
	}
	li:nth-child(6) {
		transform : translateY(7.4em) rotateX(70deg);
		color: color.adjust(triviacolors.$font, $lightness: -50%, $space: hsl);
		background-color : color.mix(triviacolors.$primary, triviacolors.$primary_border, $weight: 25%);
		z-index: 3;
	}
	li:nth-child(7) {
		transform : translateY(7.9em) rotateX(90deg);
		color: color.adjust(triviacolors.$font, $lightness: -75%, $space: hsl);
		background-color : triviacolors.$primary_border;
		z-index: 2;
	}
	li:nth-child(n+8)  {
		transform : translateY(3.2em) rotateX(180deg);
		background-color : triviacolors.$primary_border;
		z-index: 1;
		transition-duration: 0s;
	}

	&.highlight li:nth-child(4) {
		background-color : triviacolors.$correct !important;
		transition-duration: 0.1s !important;
		* {
			transition: font-size 0.5s linear;
			font-size : 1.75em;
		}
	}
}

.playerlist {
	margin-bottom : 0;
	li {
		display: inline-block;
		list-style : none;
		margin: 0 1em 1em 0;
		&.playerposition-move {
			transition: transform 1s ease;
		}
	}
	.kick {
		&:hover {
			cursor: not-allowed;
			opacity : 0.5;
		}
	}
	.avatar[data-ping]:hover:after {
		content: "ping " attr(data-ping) "ms";
	}
}

.index {
	.infobox {
		float : left;
	}
	.current {
		&:after {
			content : " / ";
		}
	}
}

.category {
	position: relative;
	left: -0.6em;
	z-index: -1;
	border-radius: 0 0.6em 0.6em 0;
}

.timer-warning {
	.timer-score {
		color : triviacolors.$incorrect;
	}
	.timer-counter {
		color : triviacolors.$incorrect;
		&:before {
			transform: scale(0.5, 0.5);
			animation: timer-pulse 1s linear infinite;
		}
		svg #bar {
			stroke : triviacolors.$incorrect;
		}
	}
	&:before {
		--timer-warning-width: 0em;
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -2;
		animation: timer-bg-pulse 1s ease-in-out infinite;
	}
}

.timer-score {
	float: left;
	left: 2em;
	padding: 0.5em 2.5em 0.5em 1em;
	position: relative;
}

.timer-counter {
	position : relative;
	width : 4.2em;
	height : 4.2em;
	top : -0.5em;
	float : right;
	color : triviacolors.$primary;

	svg {
		transform : rotate(90deg) scaleX(-1);
		width : 100%;
		height : 100%;
		circle {
			transition: stroke-dashoffset 0.1s linear;
			stroke: triviacolors.$secondary_border;
			stroke-width: 0.35em;
			fill: triviacolors.$secondary;
		}
		#bar {
			stroke: triviacolors.$primary;
			fill: transparent;
		}
	}

	&:before {
		font-size: 2.1em;
		content : attr(data-seconds);
		position : absolute;
		z-index : 2;
		width : 2em;
		line-height: 2em;
		text-align: center;
		display: block;
		transform : scale(0.75);
	}
}

h1 {
	color : triviacolors.$secondary_border;

	i {
		color : triviacolors.$primary;
	}

	&::after {
		border: 0.075em solid triviacolors.$primary;
		content: "";
		display: block;
		margin-left: 20%;
		margin-top: 0.1em;
		width: 60%;
	}
}

.bottom {
	bottom : 0;
	position : fixed;
	text-align: center;
	width : 100%;
}


.score-change-positive .avatar {
	animation : glow-positive 1s linear normal;
	box-shadow : 0 0 3em triviacolors.$correct, 0 0 1.5em triviacolors.$correct;

	img {
		filter: contrast(200%);
	}

	&::after {
		background-color: triviacolors.$correct;
		border-color: triviacolors.$correct_border;
		color: triviacolors.$font;
	}
}

.score-change-negative .avatar {
	animation : glow-negative 1s linear normal;
	box-shadow : 0 0 3em triviacolors.$incorrect, 0 0 1.5em triviacolors.$incorrect;

	img {
		filter: grayscale(100%);
	}

	&::after {
		background-color: triviacolors.$incorrect;
		border-color: triviacolors.$incorrect_border;
		color: triviacolors.$font;
	}
}

.score-change-negative~.score {
	color : triviacolors.$font;
}

.score-change-positive~.score {
	color : triviacolors.$font;
}

.leader {
	position : absolute;
	z-index: 2;
	margin-left : 1.35em;
	margin-top : -1em;
	width : 3em;
	height : 3em;
}

.error .message {
	font-size: 2em;
}

@keyframes resize-title {
    0% { transform : scale(0.5) translateY(-50%); }
   10% { transform : scale(2) translateY(-50%); }
   20% { transform : scale(1) translateY(-50%); }
   90% { transform : scale(1) translateY(-50%); }
   100% { transform : scale(1) translateY(-50%); }
 }

 @keyframes resize-correct {
	0% { transform: translateY(-50%) translateX(250%) skew(-45deg, 0deg); }
	75% { transform: translateY(-50%) translateX(0) skew(-20deg, 0deg); }
	100% { transform: translateY(-50%) translateX(0) skew(0); }
 }

 @keyframes timer-pulse {
    0% { transform : scale(0.5); }
   50% { transform : scale(2); }
   100% { transform : scale(1); }
 }

 @keyframes timer-bg-pulse {
	0% { box-shadow: inset 0 0 1em triviacolors.$incorrect; }
	50% { box-shadow: inset 0 0 15em triviacolors.$incorrect; }
	100% { box-shadow: inset 0 0 1em triviacolors.$incorrect; }
 }

 @keyframes glow-negative {
     0% { box-shadow : 0 0 0 triviacolors.$incorrect, 0 0 0 triviacolors.$incorrect }
     50% { box-shadow : 0 0 6em triviacolors.$incorrect, 0 0 3em triviacolors.$incorrect }
     100% { box-shadow : 0 0 3em triviacolors.$incorrect, 0 0 1.5em triviacolors.$incorrect }
 }

 @keyframes glow-positive {
     0% { box-shadow : 0 0 0 triviacolors.$correct, 0 0 0 triviacolors.$correct }
     50% { box-shadow : 0 0 6em triviacolors.$correct, 0 0 3em triviacolors.$correct }
     100% { box-shadow : 0 0 3em triviacolors.$correct, 0 0 1.5em triviacolors.$correct }
 }

 @keyframes round {
	0% { opacity : 0 }
	10% { opacity: 1 }
	70% { opacity : 1 }
	80% { opacity : 0 }
}

@keyframes round-from-left {
	0% { margin-left : -150vw }
	20% { margin-left : 0 }
	70% { margin-left : 0 }
	100% { margin-left : 150vw }
}

@keyframes round-from-right {
	0% { margin-left : 150vw }
	20% { margin-left : 0 }
	70% { margin-left : 0 }
	100% { margin-left : -150vw }
}