<div class="answer">
	<div v-if="waiting">
		<div class="fa-stack fa-lg fa-5x">
			<i class="fa fa-television fa-stack-2x"></i>
			<i class="fa fa-stack-1x" v-bind:class="{'fa-eye' : connected, 'fa-bolt' : !connected}"></i>
		</div>
		<h3>{{ message }}</h3>
		<ul v-if="!connected">
			<li>
				<button v-on:click.prevent="reconnect"><i class="fa fa-fw fa-refresh"></i> Reconnect</button>
			</li>
			<li>
				<button v-on:click.prevent="returnToLobby"><i class="fa fa-fw fa-sign-out"></i> To lobby</button>
			</li>
		</ul>
	</div>
	<div v-if="!waiting">
		<div class="stats" v-bind:style="{'background-color': stats.color}">
			<img v-bind:src="'../common/img/avatars/' + stats.avatar + '.png'"/>
			<div><i class="fa fa-fw fa-star"></i>{{stats.score}}</div>
			<div><i class="fa fa-fw fa-times"></i>{{stats.multiplier}}</div>
		</div>
		<button class="button-icon-A" v-if="answers.A" v-on:click.prevent="makeGuess('A')" v-bind:class="buttonClass('A')" v-bind:disabled="hasGuessed">{{ answers.A }}</button>
		<button class="button-icon-B" v-if="answers.B" v-on:click.prevent="makeGuess('B')" v-bind:class="buttonClass('B')" v-bind:disabled="hasGuessed">{{ answers.B }}</button>
		<button class="button-icon-C" v-if="answers.C" v-on:click.prevent="makeGuess('C')" v-bind:class="buttonClass('C')" v-bind:disabled="hasGuessed">{{ answers.C }}</button>
		<button class="button-icon-D" v-if="answers.D" v-on:click.prevent="makeGuess('D')" v-bind:class="buttonClass('D')" v-bind:disabled="hasGuessed">{{ answers.D }}</button>
	</div>
</div>
