<div class="join">
	<div>
		<form>
			<div>
				<label for="name">Name</label>
				<div>
					<input type="text" id="name" maxlength="10" v-model="config.name">
				</div>
			</div>
			<div>
				<label for="gameId">Code</label>
				<div>
					<input type="text" id="gameId" style="text-transform : uppercase" v-model="config.gameId">
				</div>
				<video id="camera" autoplay="true"></video>
			</div>
			<div>
				<label for="avatar-selector">Preferred avatar</label>
				<div id="avatar-selector">
					<button v-on:click.prevent="scrollAvatarsLeft"><i class="fa-solid fa-arrow-left"></i></button>
					<div>
						<label v-for="avatar in avatars">
							<input type="radio" name="avatar" v-model="config.avatar" v-bind:value="avatar"/>
							<div class="avatar"><img v-bind:src="'../common/img/avatars/' + avatar + '.png'"/></div>
						</label>
					</div>
					<button v-on:click.prevent="scrollAvatarsRight"><i class="fa-solid fa-arrow-right"></i></button>
				</div>
			</div>

			<div class="message" v-if="message">
				<div>{{ message }}</div>
			</div>

			<div class="buttons">
				<button v-on:click.prevent="join" v-bind:disabled="!validated"><i class="fas fa-fw fa-sign-in-alt"></i>Join</button>
				<button v-on:click.prevent="qrscan" v-if="supportsCamera"><i class="fas fa-qrcode"></i> Scan</button>
			</div>
		</form>
	</div>
</div>
