<div class="container question">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="title" ng-class="{'full' : state == 'pre-question'}">{{ title }}</div>
			<div class="timer" ng-if="timer.running">
				<div class="timer-score"><i class="fa fa-fw fa-star"></i>{{ timer.score() }}</div>
				<div class="c100 p{{ timer.percentageLeft() }} small">
					<span>{{ timer.timeLeft() }}</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content" ng-class="state"></div>
	<div id="correct" ng-if="state == 'post-question'" ng-class="'btn-' + correct['key']">{{ correct['answer'] }}</div>
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="player" ng-repeat="(pairCode, player) in players" ng-class="{'guessed' : hasGuessed[pairCode]}" style="border-color : {{ player.color }}; color : {{ player.color }}">
				<i class="fa fa-fw fa-user"></i>
				<div>
					<h3 class="name">{{ player.name }}</h3>
					<div class="summary">
						<span ng-class="{'score-change-positive': pointChanges[pairCode] > 0, 'score-change-negative': pointChanges[pairCode] < 0}" ng-if="pointChanges[pairCode]">{{ pointChanges[pairCode] }}</span>
						<span class="score"><i class="fa fa-star"></i>{{ player.score }}</span>
						<span class="multiplier"><i class="fa fa-times"></i>{{ player.multiplier }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
