<div class="container question">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="index">
				<span class="current">{{ session.index() }}</span>
				<span class="total">{{ session.total() }}</span>
			</div>
			<div class="title" ng-class="{'full' : state == 'pre-question'}">{{ title }}</div>
			<div class="timer" ng-if="timer.running">
				<div class="timer-score"><i class="fa fa-fw fa-star"></i>{{ timer.score() }}</div>
				<div class="c100 p{{ timer.percentageLeft() }} small">
					<span>{{ timer.timeLeft() }}</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content" ng-class="state"></div>
	<div id="correct" ng-if="state == 'post-question'" ng-class="'btn-' + correct['key']">{{ correct['answer'] }}</div>
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="avatar" data-score="{{player.score}}" data-multiplier="{{player.multiplier}}" ng-repeat="(pairCode, player) in players" ng-class="{'guessed' : hasGuessed[pairCode]}" style="background-color : {{player.color}}; border-color : {{player.color}}">
				<img src="{{ avatars[player.avatar].url }}"/>
				<span ng-class="{'score-change-positive': pointChanges[pairCode] > 0, 'score-change-negative': pointChanges[pairCode] < 0}" ng-if="pointChanges[pairCode]">{{ pointChanges[pairCode] }}</span>
			</div>
		</div>
	</div>
</div>
