<div class="question">
	<div class="top">
			<div class="index" ng-if="timer.running()">
				<div class="infobox">
					<span class="current">{{ session.index() }}</span>
					<span class="total">{{ session.total() }}</span>
				</div>
				<div class="category infobox" ng-if="category">{{ category }}</div>
			</div>
			<div class="message" ng-if="error">{{ error }}</div>
			<div class="title" ng-class="{'full' : state == 'pre-question' || (state == 'question' && !minimizeQuestion)}">{{ title }}</div>
			<div class="timer" ng-if="timer.running()">
				<div class="timer-score infobox"><i class="fa fa-fw fa-star"></i>{{ timer.score() }}</div>
				<div class="timer-counter" data-seconds="{{ timer.timeLeft() }}" data-percentage="{{ timer.percentageLeft() }}">
					<svg viewBox="0 0 38 38">
					  <circle id="border" r="15.9155" cx="19" cy="19"></circle>
					  <circle id="bar" r="15.9155" cx="19" cy="19" stroke-dasharray="100" stroke-dashoffset="{{(100 - timer.percentageLeft() )}}"></circle>
					</svg>
				</div>
			</div>
	</div>
	<div id="content" ng-class="state"></div>
	<div id="correct" ng-if="state == 'post-question'" ng-class="'btn-' + correct['key']">{{ correct['answer'] }}</div>
	<div id="category-spinner" ng-if="state == 'loading'">
		<ul class="spinner" ng-if="categories.length != 0">
			<li ng-repeat="category in categories track by $index" ng-attr-data-spinner-stop="{{category.name == session.question().view.category[0] ? 'true' : undefined}}">
				<i ng-if="category.icon.indexOf('url:') == -1" class="fa fa-fw {{ category.icon }}"></i>
				<img ng-if="category.icon.indexOf('url:') == 0" ng-src="{{ category.icon.substr(4) }}"/>
				{{category.name}}
			</li>
		</ul>
	</div>
	<div class="bottom">
		<ul class="playerlist">
			<li ng-repeat="(pairCode, player) in players" ng-class="{'disconnected' : hasConnectionError(pairCode), 'score-change-positive': pointChanges[pairCode] > 0, 'score-change-negative': pointChanges[pairCode] < 0}">
				<div class="avatar" data-score="{{ showPlayerName(player) ? player.name : player.score}}" data-multiplier="{{player.multiplier}}" ng-class="{'guessed' : hasGuessed[pairCode]}" style="background-color : {{player.color}}; border-color : {{player.color}}">
					<img ng-src="{{ avatars[player.avatar].url }}"/>
					<img ng-src="{{ crownUrl }}" class="leader" ng-if="isLeadingPlayer(player)"/>
					<span ng-if="pointChanges[pairCode]">{{ pointChanges[pairCode] }}</span>
				</div>
			</li>
		</ul>
	</div>
</div>
