<div class="lobby">
	<div class="connect">
		<h1>WebRTC Trivia</h1>
		<div ng-if="code == null">
			<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
			<span class="fa-3x">Loading...</span>
		</div>
		<div ng-if="code != null">
			<div class="qr">
				<img ng-src="https://chart.googleapis.com/chart?chs=400x400&cht=qr&chl={{ url() }}&choe=UTF-8"/>
			</div>
			<div class="code">{{ code }}</div>
		</div>
		<div class="instructions" data-url="{{serverUrl()}}">
			<div>
				<h3>Join on your Smartphone!</h3>
				By QR Code or go to:<br/>
				<b>{{serverUrl()}}</b>
			</div>
		</div>
	</div>
	<div class="players">
		<h1><i class="fa fa-fw fa-users"></i>Players</h1>
		<ul class="playerlist">
			<li ng-if="playerCount() == 0">No players has joined yet, be the first!</li>
			<li ng-repeat="(peerid,player) in players()" ng-class="{'fallback' : usingFallbackConnection(peerid), 'disconnected' : hasConnectionError(peerid)}">
				<a href="" ng-click="kickPlayer(peerid)" class="kick" title="Kick player">
					<div class="avatar" data-score="{{player.name}}" style="background-color : {{player.color}}; border-color : {{player.color}}"><img ng-src="{{ avatars[player.avatar].url }}"/></div>
				</a>
			</li>
		</ul>
		<div class="settings">
			<h1><i class="fa fa-fw fa-cogs"></i>Settings</h1>
			<div>
				<form>
					<div class="general">
						<div class="numeric-input">
							<label for="questions" title="Number of questions"><i class="fa fa-fw fa-question"></i></label>
							<input type="number" id="questions" step="5" ng-min="1" ng-model="config.questions">
						</div>

						<div class="numeric-input">
							<label for="time" title="Seconds to answer"><i class="fa fa-fw fa-hourglass"></i></label>
							<input type="number" id="time" step="5" ng-min="1" ng-model="config.time">
						</div>

						<div class="numeric-input">
							<label for="points" title="Points per round"><i class="fa fa-fw fa-star"></i></label>
							<input type="number" id="points" step="100" ng-min="1" ng-model="config.pointsPerRound">
						</div>

						<div class="numeric-input" ng-if="config.allowMultiplier">
							<label for="maxMultiplier" title="Max multiplier"><i class="fa fa-fw fa-times"></i></label>
							<input type="number" id="maxMultiplier" step="1" ng-min="1" ng-model="config.maxMultiplier">
						</div>

						<ul class="circle-checkboxes">
							<li ng-class="{'selected' : config.stopOnAnswers}">
								<label for="stop" title="Stop after all answered"><input type="checkbox" id="stop" ng-model="config.stopOnAnswers"><i class="fa fa-stop"></i></label>
							</li>
							<li ng-class="{'selected' : config.allowMultiplier}">
								<label for="multiplier" title="Use multipliers"><input type="checkbox" id="multiplier" ng-model="config.allowMultiplier"><i class="fa fa-times"></i></label>
							</li>
							<li ng-class="{'selected' : config.sound.backgroundMusic}">
								<label for="backgroundMusic" title="Background music"><input type="checkbox" id="backgroundMusic" ng-model="config.sound.backgroundMusic"><i class="fa fa-music"></i></label>
							</li>
							<li ng-class="{'selected' : config.sound.text2Speech}">
								<label for="text2Speech" title="Text-2-speech of questions"><input type="checkbox" id="text2Speech" ng-model="config.sound.text2Speech"><i class="fa fa-commenting-o"></i></label>
							</li>
							<li ng-class="{'selected' : config.sound.soundEffects}">
								<label for="soundEffects" title="Sound effects"><input type="checkbox" id="soundEffects" ng-model="config.sound.soundEffects"><i class="fa fa-exclamation"></i></label>
							</li>
							<li ng-class="{'selected' : config.categorySpinner}">
								<label for="spinner" title="Category spinner"><input type="checkbox" id="spinner" ng-model="config.categorySpinner"><i class="fa fa-spinner"></i></label>
							</li>
							<li  ng-class="{'selected' : config.fullscreen}">
								<label for="fullscreen" title="Toggle fullscreen"><input type="checkbox" id="fullscreen" ng-model="config.fullscreen" ng-change="toggleFullScreen()"><i class="fa fa-window-maximize"></i></label>
							</li>
						</ul>
					</div>

					<div id="categories">
						<h1><i class="fa fa-fw fa-list-ul"></i>Categories</h1>
						<ul class="circle-checkboxes">
							<li ng-class="{'selected' : config.categories[category.type] && preloading[category.type].done, 'loaded' : !config.categories[category.type] && preloading[category.type].done, 'failed' : preloading[category.type].failed, 'static' : category.static}" ng-repeat="category in availableCategories">
								<label title="{{ category.name }}">
									<input type="checkbox" id="{{ category.type }}" ng-model="config.categories[category.type]" ng-change="preload(category.type)">
									<i ng-if="category.icon.indexOf('url:') == -1" class="fa {{ category.icon }}"></i>
									<img ng-if="category.icon.indexOf('url:') == 0" ng-src="{{ category.icon.substr(4) }}"/>
								</label>
								<div class="progress" ng-if="config.categories[category.type] && !preloading[category.type].done && !preloading[category.type].failed">{{ preloading[category.type].percentage() }}%</div>
							</li>
							<li class="add-category">
								<label title="Add category from JSON file"><i class="fa fa-plus"></i><input type="file" id="jsonfile" onchange="angular.element(this).scope().addCategories(this.files)" accept="application/json" multiple/></label>
							</li>
						</ul>

					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="rules">
		<h1><i class="fa fa-fw fa-gavel"></i>Rules</h1>
		<ol>
			<li>Use your phone to select the answer you think is correct</li>
			<li>A correct answer gives you points</li>
			<li>An incorrect answer removes points</li>
			<li>You can't go below 0, so make wild guesses if you're that low on score</li>
			<li>You are awarded more points for answering quicker</li>
			<li ng-if="config.allowMultiplier">A correct answer will increase the point-multiplier for the next question</li>
			<li ng-if="config.allowMultiplier">An invalid answer will reset the point-multiplier to 1x</li>
			<li ng-if="config.allowMultiplier">Not answering will reset the point-multiplier to 1x</li>
			<li>You have <b>{{config.time}}</b> seconds to answer each question</li>
			<li>There is <b>{{countQuestions()}}</b> possible questions in the selected categories</li>
		</ol>

		<h1><i class="fa fa-fw fa-heart" style="color : #aa0000"></i>Powered by</h1>
		<ul class="carousel">
			<li ng-repeat="site in poweredBy"><a href="{{ site.url }}">{{ site.name }}</a></li>
		</ul>
	</div>
	<div ng-if="message">
		<div class="message">{{ message }}</div>
	</div>
	<div id="start">
		<a ng-click="start()" ng-disabled="!readyToStart()" title="{{ startTitle }}"><i class="fa fa-fw fa-play"></i></a>
	</div>
</div>
